/*放大缩小动画*/
@keyframes ani-spin-bounce {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.vu-spin {
    color: #4285F4;
    vertical-align: middle;
    text-align: center;
}

.vu-spin .vu-spin-dot {
    position: relative;
    display: block;
    border-radius: 50%;
    background-color: #4285F4;
    width: 20px;
    height: 20px;
    animation: ani-spin-bounce 1s 0s ease-in-out infinite;
}

.vu-spin-small .vu-spin-dot {
    width: 12px;
    height: 12px;
}

.vu-spin-large .vu-spin-dot {
    width: 32px;
    height: 32px;
}

.vu-spin-fix {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, .8);
}

.vu-spin-fix .vu-spin-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vu-spin-fix .vu-spin-dot {
    display: inline-block;
}

.vu-spin-show-text .vu-spin-text {
    display: block;
}

.vu-spin-show-text .vu-spin-dot, .vu-spin-text {
    display: none;
}

.vu-spin-fullscreen-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.vu-spin-fullscreen {
    z-index: 2010;
}